* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Muli', sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("../img/chicago.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrap {
  width: 80%;
  margin: 0 auto;
  padding: 10vh 0;
}

.wrap h1.title {
  margin-bottom: 10px;
  line-height: 7rem;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

.wrap .board {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .board .user-input .input-wrap {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: white;
  display: none;
}

.wrap .board .user-input .input-wrap input {
  outline: none;
  font-size: 2.4rem;
  width: calc(100% - 5rem);
  border: none;
}

.wrap .board .user-input .input-wrap button {
  display: block;
  float: right;
  border: none;
  background-color: transparent;
  outline: none;
}

.wrap .board .user-input .input-wrap i {
  font-size: 3rem;
  line-height: 2.8rem;
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}

.wrap .board .user-input .input-wrap.on {
  display: block;
}

.wrap .board ul.user-tasks {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
  list-style: none;
}

.wrap .board ul.user-tasks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 5px;
  line-height: 40px;
}

.wrap .board ul.user-tasks li i {
  display: block;
  width: 3rem;
  margin-right: 10px;
  font-size: 3rem;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}

.wrap .board ul.user-tasks li p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap .board ul.user-tasks li:nth-child(odd) {
  background-color: rgba(236, 186, 126, 0.7);
}

.wrap .board ul.user-tasks li:nth-child(even) {
  background-color: rgba(230, 172, 135, 0.7);
}

.wrap .board ul.user-tasks li.ongoing i {
  color: black;
}

.wrap .board ul.user-tasks li.completed {
  background-color: rgba(56, 50, 48, 0.6);
}

.wrap .board ul.user-tasks li.completed i.fa-check-square {
  color: black;
}

.wrap .board ul.user-tasks li.completed p {
  text-decoration: line-through;
  color: white;
}

.wrap .board .panel {
  padding: 10px 20px;
  border-radius: 10px 10px 30px 30px;
  background-color: rgba(111, 82, 71, 0.87);
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 239, 213, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .board .panel .show-input {
  margin-left: 30px;
}

.wrap .board .panel .show-input i {
  font-size: 3rem;
  width: 3rem;
  margin: 10px 10px;
  cursor: pointer;
}

.wrap .board .panel .show-input i.active {
  color: black;
}

.wrap .board .panel .count-tasks {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 50px;
  margin: 0 20px;
  border-right: 1px dashed black;
  border-left: 1px dashed black;
}

.wrap .board .panel .show-tasks div {
  display: inline-block;
  padding: 5px 5px;
  margin: 0 3px;
  border: 1px solid rgba(255, 239, 213, 0.7);
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.wrap .board .panel .show-tasks div:hover {
  color: #6f5247;
  background-color: rgba(255, 239, 213, 0.7);
}
/*# sourceMappingURL=style.css.map */