// FONTS
  // font-family: 'Playfair Display', serif;
  // font-family: 'Muli', sans-serif;

.wrap.blur
  filter: blur(2px)
.wrap
  width: 80%
  margin: 0 auto
  padding: 10vh 0
  h1.title
    margin-bottom: 10px
    line-height: 8rem
    font-size: 7rem
    font-family: 'Playfair Display', serif
    font-style: italic
  .board
    padding: 10px
    // flex parent
    display: flex
    flex-direction: column
    .user-input
      .input-wrap
        padding: 5px 20px
        margin-bottom: 10px
        border-radius: 30px 30px 10px 10px
        background-color: white
        display: none
        input
          outline: none
          font-size: 2.6rem
          width: calc(100% - 5rem)
          border: none
        button
          // button is a inline-block element and has a default margin - I've canceled margin with float: right
          display: block
          float: right
          border: none
          background-color: transparent
          outline: none
        i
          line-height: 2.8rem
          +icons-style()
        &.on
          display: block
    ul.user-tasks
      // flex child
      flex-grow: 1
      font-size: 2rem
      list-style: none
      li
        padding: 0 20px
        margin-bottom: 5px
        border-radius: 20px
        line-height: 40px
        // flex parent
        display: flex
        i
          line-height: 40px
          color: black
          +icons-style()
        p
          flex-grow: 1
        &:nth-child(odd)
          background-color: rgba(236, 186, 126, 0.7)
        &:nth-child(even)
          background-color: rgba(230, 172, 135, 0.7) 
      li.completed
        background-color: rgba(56, 50, 48, 0.6)
        p
          text-decoration: line-through
          color: white
    .panel
      padding: 10px 20px
      border-radius: 10px 10px 30px 30px
      background-color: rgba(111, 82, 71, 0.87)
      text-align: center
      font-size: 2rem
      color: $yellowish
      //flex parent
      display: flex
      align-items: center
      // flex child
      .show-input
        margin-left: 30px
        i
          margin: 10px 10px
          +icons-style()
          &.active
            color: black
      .count-tasks
        flex-grow: 1
        line-height: 50px
        margin: 0 20px
        border-right: 1px dashed black
        border-left: 1px dashed black
      .show-tasks
        div
          display: inline-block
          padding: 5px 5px
          margin: 0 3px
          border: 1px solid $yellowish
          border-radius: 8px
          text-transform: uppercase
          cursor: pointer
          &:hover
            color: rgb(111, 82, 71)
            background-color: $yellowish
  button.stats
    display: block
    font-size: 3rem
    background-color: white
    border: none
    padding: 10px 30px
    font-family: 'Muli', sans-serif;
    border-radius: 30px
    margin: 20px auto 0
    cursor: pointer
    transition: .3s linear
    outline: none
    &:hover
      filter: drop-shadow(10px 10px rgb(111, 82, 71))
.modal-wrap 
  display: none
  transition: .5s
.modal-wrap.active
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  filter: blur
  background-color: rgba(0,0,0,0.5)
  .modal
    width: 70%
    height: 80%
    background-color: white
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 30px
    text-align: center
    background-color: #ffefd1
    p
      font-family: 'Playfair Display', serif
      height: 90px
      line-height: 90px
      font-size: 5rem
      background-color: rgba(111, 82, 71, 0.87)
      color: white
    .left-column
      position: relative
      float: left
      width: 60%
      height: calc(100% - 90px)
      .chart
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 300px
        width: 300px
        // background: conic-gradient(salmon 0% 40%,orange 40% 100%)
        border-radius: 50%
    .right-column
      float: left
      width: 40%
      height: calc(100% - 80px)
      padding: 50px 20px
      text-align: center
      font-size: 2.6rem
      //flex parent
      display: flex
      flex-direction: column
      align-items: flex-start
      .legend-title
        margin-bottom: 20px
        font-size: 3.6rem
        font-weight: 700
      .done
        display: inline-block
        background-color: salmon
        background-color: #d03e2d
        margin-bottom: 10px
        padding: 5px
      .todo
        background-color: orange
        padding: 5px
    .hide
      position: absolute
      top: 0 
      right: 0
      transform: translate(50%, -50%)
      background-color: black
      color: white
      height: 40px
      width: 40px
      line-height: 40px
      border-radius: 50%
      cursor: pointer
      font-size: 3rem



