/*! 1. GENERAL */
* 
  margin: 0
  padding: 0
  box-sizing: border-box

.clearfix::after 
  content: ""
  clear: both
  display: block

html 
  font-size: 10px
  font-family: 'Muli', sans-serif;

body 
  min-height: 100vh
  background-image: url('../img/chicago.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed

/*! BUTTONS, INPUTS, ICONS */
button, input
  outline: none
  border: none

button, i
  cursor: pointer
